{% extends "base.html" %}

{% block title %}Catálogo de Produtos{% endblock %}

{% block style %}

body{
    font-family:Arial;
    background:#f4f4f4;
    margin:0;
    padding:15px;
}

.container{
    max-width:800px;
    margin:auto;
}

.topo{
    background:white;
    padding:20px;
    border-radius:15px;
    margin-bottom:15px;
    text-align:center;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

/* BOTÕES EM COLUNA */
.botoes-nav{
    margin-bottom:15px;
}

.botoes-nav a{
    display:block;
    margin-bottom:10px;
}

.botoes-nav button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    color:white;
    font-size:15px;
    cursor:pointer;
    font-weight:bold;
}

/* cores */
.btn-voltar{
    background:#6c757d;
}

.btn-menu{
    background:#007bff;
}

.card{
    background:white;
    padding:15px;
    border-radius:12px;
    margin-bottom:12px;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    margin-top:10px;
    box-sizing:border-box;
}

.editar{
    background:#007bff;
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    color:white;
    margin-top:10px;
    font-size:15px;
    cursor:pointer;
}

.codigo{
    color:#666;
    font-size:14px;
}

a{
    text-decoration:none;
}

{% endblock %}

{% block content %}

<div class="container">

    <div class="topo">
        <h2>📦 Catálogo de Produtos</h2>
    </div>

    <!-- ✔ BOTÕES EM COLUNA -->
    <div class="botoes-nav">

        <a href="/administracao">
             <button class="btn-voltar">⬅️ Voltar</button>
     </a>

        <a href="/menu">
            <button class="btn-menu">🏠 Menu</button>
        </a>

    </div>

    <form method="GET">
        <input
            type="text"
            name="busca"
            placeholder="🔍 Buscar por nome ou código..."
            value="{{ busca }}"
        >
    </form>

    {% for produto in produtos %}

    <div class="card">

        <b>{{ produto.nome }}</b><br>

        <div class="codigo">
            Código: {{ produto.codigo }}
        </div>

        <a href="/editar-catalogo/{{ produto.id }}">
            <button class="editar">
                ✏️ Editar Nome
            </button>
        </a>

        <a href="/excluir-catalogo/{{ p.id }}">
            <button class="excluir">🗑️ Excluir</button>
        </a>

    </div>

    {% endfor %}

</div>

{% endblock %}
