<form method="POST">

<h3>📦 Módulos do sistema</h3>

<label><input type="checkbox" name="permissoes" value="CADASTRAR_PRODUTO"
{% if "CADASTRAR_PRODUTO" in permissoes %}checked{% endif %}>
Cadastrar Produto</label><br><br>

<label><input type="checkbox" name="permissoes" value="CONSULTA"
{% if "CONSULTA" in permissoes %}checked{% endif %}>
Consulta</label><br><br>

<label><input type="checkbox" name="permissoes" value="INVENTARIO"
{% if "INVENTARIO" in permissoes %}checked{% endif %}>
Inventário</label><br><br>

<label><input type="checkbox" name="permissoes" value="MOVIMENTACAO"
{% if "MOVIMENTACAO" in permissoes %}checked{% endif %}>
Movimentação</label><br><br>

<label><input type="checkbox" name="permissoes" value="TRANSFERENCIA"
{% if "TRANSFERENCIA" in permissoes %}checked{% endif %}>
Transferência</label><br><br>

<label><input type="checkbox" name="permissoes" value="EDITAR_PRODUTO"
{% if "EDITAR_PRODUTO" in permissoes %}checked{% endif %}>
Editar Produto</label><br><br>

<label><input type="checkbox" name="permissoes" value="EXCLUIR_PRODUTO"
{% if "EXCLUIR_PRODUTO" in permissoes %}checked{% endif %}>
Excluir Produto</label><br><br>

<label><input type="checkbox" name="permissoes" value="HISTORICO"
{% if "HISTORICO" in permissoes %}checked{% endif %}>
Histórico</label><br><br>

<label><input type="checkbox" name="permissoes" value="ADMIN"
{% if "ADMIN" in permissoes %}checked{% endif %}>
Administração</label><br><br>

<button type="submit" class="criar">Salvar</button>

</form>
